.backtab {
    border-bottom: solid 1px #E3E7EF;
    grid-row: 1;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 35fr 75fr 1810fr;
}

.backtab .back {
    display: flex;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1em;
    color: #006CFF;
}

.backtab .back:hover {
    cursor: pointer;
    color: rgb(46, 110, 199)
}