.error {
    position: fixed;
    display: grid;
    grid-template-columns: 740fr 380fr 740fr;
    grid-template-rows: 152.5fr 460fr 259fr 151.5fr;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.error .box {
    display: grid;
    grid-template-rows: 41fr 104fr 55fr 60fr;
    grid-template-columns: 1fr 2fr 1fr;
    overflow: hidden;
    grid-row: 3;
    grid-column: 2;
}

.error .box > span {
    grid-row: 4;
    grid-column: 2;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1em;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.giphy-embed {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    pointer-events: none;
    justify-self: center;
}

.redirect {
    grid-row: 4;
    grid-column: 2;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1em;
    justify-self: center;
    align-self: center;
}

.redirect > strong {
    color: #49d290;
}

.redirect:hover {
    color: #464646;
}