.img-element {
    overflow: hidden;
    display: grid;
    grid-template-columns: 40fr 150fr 40fr 500fr 15fr 60fr;
    grid-template-rows: 40fr 150fr 40fr;
    height: fit-content;
    border-bottom: solid 1px rgb(226, 229, 233);
}

.img-element>img {
    grid-row: 2;
    grid-column: 2;
    max-width: 100%;
}

.img-element .info {
    overflow: hidden;
    grid-row: 2;
    grid-column: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-family: "PT Sans Caption", sans-serif;
}

.img-element .info .name {
    grid-row: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1em;
}
.img-element .info .desc {
    grid-row: 2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.8em;
}