.q2 {
    background-color: #F5F5F5;
    grid-row: 2;
    display: grid;
    grid-template-rows: 98fr 138fr 81fr 43fr 81fr 43fr 81fr 43fr 81fr 43fr 81fr 140fr;
    grid-template-columns: 746fr 429fr 746fr;
}

.q2 .title {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 2em;
    color: #707070;
    grid-row: 2;
    grid-column: 2;
}

/*
.q1 .boxes {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(4, 360fr);
    column-gap: 4.167%;
}
*/