.q2 {
    background-color: #F5F5F5;
    grid-row: 2;
    display: grid;
    grid-template-rows: 98fr 138fr 81fr 43fr 81fr 43fr 81fr 43fr 81fr 140fr;
    grid-template-columns: 746fr 429fr 746fr;
}

.q2 .title {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 2em;
    color: #707070;
    grid-row: 2;
    grid-column: 2;
}

.q2 .soup {
    grid-row: 3;
    grid-column: 2;
    background-color: white;
}

.q2 .main {
    grid-row: 5;
    grid-column: 2;
    background-color: white;
}

.q2 .salad {
    grid-row: 7;
    grid-column: 2;
    background-color: white;
}

.q2 .dessert {
    grid-row: 9;
    grid-column: 2;
    background-color: white;
}
