.qselection {
    background-color: #F5F5F5;
    grid-row: 2;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 100fr 100fr 50fr 450fr 60fr;
    grid-template-columns: 746fr 429fr 746fr;
}

.qselection .title {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 2em;
    color: #707070;
    grid-row: 2/4;
    grid-column: 2;
}

.radiogroup {
    grid-row: 4;
    grid-column: 2;
}
