.success {
    position: fixed;
    display: grid;
    grid-template-columns: 740fr 380fr 740fr;
    grid-template-rows: 152.5fr 460fr 259fr 151.5fr;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.success .box {
    display: grid;
    grid-template-rows: 41fr 25fr 72fr 56fr 66fr;
    overflow: hidden;
    grid-row: 3;
    grid-column: 2;
}

.success .box > span {
    grid-row: 3;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1em;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: #464646;
}

.success .box .button {
    grid-row: 5;
    width: 40%;
    height: 32px;
    justify-self: center;
    align-self: center;
    color: white;
}

.log-out {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
    align-self: center;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1em;
}

.log-out:hover {
    cursor: pointer;
    color: #464646;
}
