.success {
    display: grid;
    grid-template-columns: 740fr 440fr 740fr;
    grid-template-rows: 152.5fr 460fr 259fr 151.5fr;
    height: 100vh;
    width: 100vw;
}

.redirect {
    grid-row: 4;
    grid-column: 2;
    font-family: "PT Sans Caption", sans-serif;
    font-size: 1em;
    justify-self: center;
    align-self: center;
}

.redirect:hover {
    color: #464646;
}
